body {
    background: url(../img/bg_img.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

h1 {
    text-align: center;
}

.orders-table{
    width: 100%;
    /*border-collapse: collapse;*/
    /*margin: 10px auto;*/
}

th {
    background: #3498db;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 18px;
}


.odd {
    background-color: #eee;
}

.even {
    background-color: #fff;
}

.addForm_js{
    margin: 0 auto;
    display: table;
}